body { 
  background: purple;
  align-items: center;
}

.container {
  background: whitesmoke;
  padding: 5pt;
  width: 400px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: gray;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid black ;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: blue;
  background: whitesmoke;
}

input.valid, select.valid {
  border-color: green;
}

input.invalid, select.invalid {
  border-color: red;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.checkbox input {
  margin-right: 0px;
}

button {
  width: 100%;
  padding: 10px;
  background: skyblue;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
  border-color: aqua;
}
